{% extends 'base.html' %}

{% load static %}

{% block title %}About{% endblock %}

{% block content %}

<!--About us content-->
<section class= "about-container">
  <div class="container footer-down">
    <div class="row">
        <div class="col-12">
            <h1 class="ml-2 mb-4">Tick Tock</h1>
            <hr>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <img class="w-100 mt-5 pt-3" src="{% static 'img/aboutimg.jpeg' %}" alt="watch image">
        </div>
        
        <div class="col-12 col-md-8">
            <h2 class="mb-4">About Us</h2>
            <h6>We are an online Shop Headqautered in Europe.</h6>
            <p>The TH-Collection is a leading retailer specialiseed in real human quality hair and much more!.</p>
            <br>
            <h5 class ="pb-2">Shop Open Hours</h5>
            <p> Monday,Tuesday & Wednesday 10am - 6pm
            <p>Thursday 10am - 8pm</p>
            <p>Friday & Saturday 10am - 6pm</p> 
            <p>Sunday 11am - 6pm</p>
        
            <div class="col-12 p-0">
                <a href="{% url 'products' %}" class="btn btn-dark my-5">Shop Hair</a>
            </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}