@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:600,700&display=swap");
/*------ General Styling ------------*/

html,body{
  overflow-x: hidden!important
}
body {
    margin: auto;
}
h3 h4 {
    font-family: Bree, sans-serif;
}
/*------- Forms ------ */

.log-form {
padding-top: 20px;
padding-bottom: 80px;
}
/*----- Navbar ----------*/

.icons {
  color:rgb(0, 128, 129);
  width: 20px;
  height: 20px;
  margin-right: 1.1rem;
  z-index: 1;
  cursor: pointer;
}
/*------- search box ----------*/

.search-btn {
  background-color: transparent;
  border: none;
  padding-top: 8px;
  outline: none;
  padding-left: 0;
}
.search-btn:focus{
  outline: 0;
}
.search-form input {
    border: solid 1px;
    border-radius: 0px;
    width: 180px;
    padding: 1px 15px;
    margin-top: 10px;
    margin-left: 10px;
  }
.search-form input {
    outline: none;
  }
.basket{
    position: relative;
    top: -25px;
    right: -20px;
    font-size: 0.6rem;
    font-weight: 700;
    background: #fff;
    border: 1px solid #008081;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    display: block;
    text-align: center;
    color: #333;
  }

 .btn-black {
     background: black;
     color: white;
}
 .btn-outline-black {
     background: white;
     color: black !important;
    /* use important to override link colors for <a> elements */
     border: 1px solid black;
}
 .btn-outline-black:hover, .btn-outline-black:active, .btn-outline-black:focus {
     background: black;
     color: white !important;
}

 .text-black {
     color: #000 !important;
}
 .border-black {
     border: 1px solid black !important;
}
 .bg-black {
     background: #000 !important;
}
 .overlay {
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     position: fixed;
     background: white;
     z-index: -1;
}
 a.category-badge > span.badge:hover {
     background: #212529 !important;
     color: #fff !important;
}
 .btt-button {
     height: 42px;
     width: 42px;
     position: fixed;
     bottom: 10px;
     right: 10px;
}
 .btt-link, .update-link, .remove-item {
     cursor: pointer;
}
 .button-black {
     background: linear-gradient(black, #1c1c1d);
     color: var(--white);
     border: 1px solid var(--black);
     font-family: var(--sawarabi-mincho);
}
 input[name='q']::placeholder {
     color: #aab7c4;
}

/*-----------  Home Page -----------*/

.title-img img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

.title-container
.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    -ms-transform: translate(-50%, 150%);
    background-color: #111;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
}
.title-container 
.col-md-6 {
    padding-left: 7px ! important;
    padding-right: 7px ! important;
}
@media only screen and (max-width:480px) {
  .title-img img{
    max-width: 100%;
    height: 30vh;
    padding-bottom: 10px;
  }
.title-container
.btn {
    transform: translate(-50%, 50%);  
    padding: 5px 10px;
}
}
@media only screen and (min-width: 768px) and (max-width:1024px){
  .title-img img{
    max-width: 100%;
    height: auto;
  }
  .title-container
  .btn {    
      transform: translate(-50%, 50%);
  }
    }
.promotion-banner {
    background-color: #404040;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ban-text {
    color: #ccc;
    padding-left: 10px;
}
.banner {
    display: flex;
    justify-content: center;
}
.products-showcase {
    padding-top: 70px;
    padding-bottom: 70px;
}
.product-title {
    color: black; 
}
.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;
    margin: 0 auto; 
    margin-bottom: 10px;
  }

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .featured-card {
    margin-bottom: 15px;
  }
}
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

  .card-deck .card {
    width: 90% !important;
  }
  .brand-card{
    height: 230px;
    }
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  }
.add-cart {
    padding-right: 1em;
    padding-left: 2em;
    padding-bottom: 1em;
}

.card-content {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
   
}
.card-img {
    height: 230px;
}
.product-details {
    height: 130px;
    padding-left: 2em
}
.shop-promo {
    padding-top: 10px;
    padding-bottom: 12px;
}
.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.product-label {
  position: absolute;
  top: 16px;
  left: 15px;
  width: 110px;
  z-index: 2;
  background: #111;
  color: #fff;
}
/*-- top-brand --*/

.brand-card a {
  color: black;
  text-decoration: none;
}

.brand-card a:hover {
   color: grey; 
   text-decoration:none; 
   cursor:pointer;  
}
@media screen and (max-width: 1366px) {
.brand-card .overlay {
  display: none !important;
}
}

/*--------- Product page ------------*/

.delivery-banner {
    background-color: #404040;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #ddd;
    }
  .dropdown:hover .dropdown-content {
      display: block;
    }
  .btn-hover {
    font-weight: 500;
    font-size: 1.1em;
    color: grey;
  }
  .btn-hover:hover {
      color: black;  
  }
  
#breadcrumbs a {
    text-decoration: none;
    color: gray;
}
#breadcrumbs a:hover {
    text-decoration: none;
    color: black;
}
/* ------------------------------- bootstrap toasts */
 .message-container {
     position: right;
     top: 72px;
     right: 15px;
     z-index: 99999999999;
}
 .custom-toast {
     overflow: visible;
}
 .toast-capper {
     height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
 .arrow-up {
     width: 0;
     height: 0;
     border-left: 4px solid transparent;
     border-right: 4px solid transparent;
     border-bottom: 10px solid black;
     position: absolute;
     top: -10px;
     right: 36px;
}
/* Convenience classes - colors copied from Bootstrap */
 .arrow-primary {
     border-bottom-color: #007bff !important;
}
 .arrow-secondary {
     border-bottom-color: #6c757d !important;
}
 .arrow-success {
     border-bottom-color: #28a745 !important;
}
 .arrow-danger {
     border-bottom-color: #dc3545 !important;
}
 .arrow-warning {
     border-bottom-color: #ffc107 !important;
}
 .arrow-info {
     border-bottom-color: #17a2b8 !important;
}
 .arrow-light {
     border-bottom-color: #f8f9fa !important;
}
 .arrow-dark {
     border-bottom-color: #343a40 !important;
}
 .bag-notification-wrapper {
     height: 100px;
     overflow-x: hidden;
     overflow-y: auto;
}

/*Error pages*/
.error-heading {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    font-family: sawarabi-mincho;
    text-shadow: 4px 4px 4px	#D3D3D3;
    color: #fa8072;
}

.error-sub-heading {
    font-size: 1.7rem;
}

.error-container {
    padding-top: 5rem;
    background: white;
    height: 80%!important;
    background-size: cover;
}

/*----------- Footer -------------*/

#footer {
    background-color: #262626 !important;
    color: white;
    padding-top: 30px;
  margin-top: 5px;
}
footer li {
    list-style: none;
}
footer li a{
    color: gray;
    text-decoration:none; 
}
footer li a:hover{
    color: blanchedalmond; 
    text-decoration:none; 
}
footer ul {
    padding: 0;
    margin: 0;
  }
.footer-heading {
    margin-bottom: 2rem;
  }
.footer-img img {
    width: 80%;
}
.footer-links {
    text-align: center;
    text-transform: uppercase;
}
.social-links{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.social-links a {
    font-size: 25px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}
.social-links a:hover {
    text-decoration: none;
    color:rgb(0, 128, 129);
}
.service-links {
    Padding-left : 20px;
}
.copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;    
}
.copyright p {
    margin: 10px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 0.7rem;
}
.highlight {
  color: blanchedalmond;
}

}
/* push footer down to bottom of the page. 
452px = navbar height(56px) + Footer height(396px) */
.footer-down {
  min-height: calc(100vh - 452px);
}
@media screen and (max-width: 767px){
  .footer-img img{
      padding-bottom: 30px;
      margin-left: 25px;
  }
  .service-links {
    padding: 20px;
    text-align: center;
  }
  }

/* -------------------------------- Media Queries */
/* Slightly larger container on xl screens */
 @media (min-width: 1200px) {
     .container {
         max-width: 80%;
    }
}
/* Allauth form formatting */
 .allauth-form-inner-content p {
     margin-top: 1.5rem;
    /* mt-4 */
     color: #6c757d;
    /* text-secondary */
}
 .allauth-form-inner-content input {
     border-color: #000;
     border-radius: 0;
}
 .allauth-form-inner-content label:not([for='id_remember']) {
     display: none;
}
 .allauth-form-inner-content input::placeholder {
     color: #aab7c4;
}
 .allauth-form-inner-content button, .allauth-form-inner-content input[type='submit'] {
    /* btn */
     display: inline-block;
     font-weight: 400;
     color: #fff;
     text-align: center;
     vertical-align: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-color: #000;
     border: 1px solid #000;
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     border-radius: 0;
    /* standard bootstrap btn transitions */
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 .allauth-form-inner-content button:hover, .allauth-form-inner-content input[type='submit']:hover {
     color: #fff;
     background-color: #222;
     border-color: #222;
}
 .allauth-form-inner-content a {
     color: #17a2b8;
    /* text-info */
}
/* Product Form */
 .btn-file {
     position: relative;
     overflow: hidden;
}
 .btn-file input[type="file"] {
     position: absolute;
     top: 0;
     right: 0;
     min-width: 100%;
     min-height: 100%;
     opacity: 0;
     cursor: pointer;
}
 .custom-checkbox .custom-control-label::before {
     border-radius: 0;
     border-color: #dc3545;
}
 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
     background-color: #dc3545;
     border-color: #dc3545;
     border-radius: 0;
}
/* fixed top navbar only on medium and up */
 @media (min-width: 992px) {
     .fixed-top-desktop-only {
         position: fixed;
         top: 0;
         right: 0;
         left: 0;
         z-index: 1030;
    }
     .container {
         max-width: 74rem !important;
    }
     .header-container {
         padding-top: 164px;
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
 @media (max-width: 991px) {
     .header-container {
         padding-top: 116px;
    }
     body {
         height: calc(100vh - 116px);
    }
     .display-4.logo-font.text-black {
         font-size: 2rem;
    }
     .nav-link {
         padding: 0.15rem;
    }
     .nav-link i.fa-lg {
         font-size: 1rem;
    }
     .navbar-toggler {
         padding: .6rem .6rem;
         font-size: 1rem;
    }
     #delivery-banner h4 {
         font-size: .9rem;
    }
     .btn.btn-outline-black.rounded-0, .btn.btn-black.rounded-0 {
         padding: .375rem .375rem;
    }
     .btn.btn-outline-black.rounded-0.btn-lg, .btn.btn-black.rounded-0.btn-lg {
         padding: .375rem .375rem;
         font-size: .75rem;
    }
     .increment-qty, .decrement-qty {
         padding: .25rem .5rem !important;
    }
     .main-footer {
         background:black;
    }
}
