<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
              <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Human Hair
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=human_bob_hair" class="dropdown-item">Human Bob Hair</a>
                <a href="{% url 'products' %}?category=brazilian_hair" class="dropdown-item">Brazilian Hair</a>
                <a href="{% url 'products' %}?category=wigs" class="dropdown-item">Wigs</a>
                <a href="{% url 'products' %}?category=wigs,brazilian_hair,human_bob_hair" class="dropdown-item">All Human Hair</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Attachments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=weavon" class="dropdown-item">Weavon</a>
                <a href="{% url 'products' %}?category=braids" class="dropdown-item">Braids</a>
                <a href="{% url 'products' %}?category=dreads" class="dropdown-item">Dreads</a>
                <a href="{% url 'products' %}?category=dreads,braids,weavon" class="dropdown-item">All Attachments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=hair_spray,hair_dryers" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=hair_spray,hair_dryers,new_arrivals" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>