{% extends "base.html" %}
{% load static %}

{% load static %}

{% load is_user_in_fav %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--Promotion banner -->
<section class = "container-fluid delivery-banner">
    <div class = "row">
      <div class = "col-12 text-center text-white banner">
        <i class ="pt-1 fas fa-truck" style="color:rgb(0, 128, 129);"></i>
        <p class = ban-text>Free Next Day Delivery Over $100</p>
      </div>
    </div>
</section>

<!--Category-->
<section class="container-fluid category-list mt-5" >
    <div class="col-12 text-center">
        <a style="color: black;" style="color: black;" href="{% url 'products' %}?category=hair_spray,hair_dryers" class="btn btn-hover">Deals</a>
        <a style="color: black;" href="{% url 'products' %}?category=new_arrivals" class="btn btn-hover">New Arrivals</a> 
        <div class="dropdown" style="display:inline-block">
        <a style="color: black;" href="{% url 'products' %}" class="btn dropbtn btn-hover">Collections</a>
        <div class="dropdown-content">
      <a class="dropdown-item" href="{% url 'products' %}?category=human_bob_hair">Human Bob Hair</a>
          <a href="{% url 'products' %}?category=brazilian_hair">Brazilian Hair</a>
          <a href="{% url 'products' %}?category=wigs">Wigs</a>
          <a href="{% url 'products' %}?category=weavon">Weavon</a>
          <a href="{% url 'products' %}?category=braids">Braids</a>
          <a href="{% url 'products' %}?category=dreads">Dreads</a>
        </div>
        </div>
    </div>
</section>

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card" style="width: 17rem;"> 
                        <!-- form to add/remove products to the favourites list -->
                        <form class="text-right fav-form" method="POST" action="{% url 'add_remove_favourites' product.id %}">
                            {% csrf_token %}
                            <button class="fav-button" type="submit">
                                <!-- check if the product is already a favourite -->
                                {% if user|is_user_in_fav:product.favourite %}
                                <span class="favorited text-right"><i class="fas fa-heart fa-lg" style="color:rgb(0, 128, 129)"></i></span>            
                                {% else %}
                                <span class="favorite text-right"><i class="far fa-heart fa-lg" style="color:rgb(0, 128, 129)"></i></span>      
                                {% endif %}
                            </button>
                        </form>
                                {% if product.image %}
                                <a class="product-image" href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Modify Product</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
    <!-- Pagination to display 8 products per page -->       
<section class="pagination-cotainer my-4">
    <div class="container pb-4">
      <div class="row">
        <div class="col-12">
          <div class="pagination justify-content-center">
                    <span class="step-links">
                {% if products.has_previous %}
                <a class="pagination-space" href="?page=1">&laquo; first</a>
                <a class="pagination-space" href="?page={{ products.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current pagination-space">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
                </span> 
                {% if products.has_next %}
                <a class="pagination-space" href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a> {% endif %}
                </span>
            </div>
        </div>
     </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}